.banner {
    background-color: rgb(250, 139, 87);
    /* Color de fondo del banner */
    padding: 20px;
    text-align: center;

    @media screen and (max-width: 600px) {
        padding: 10px;
    }
}

.logo {
    width: 100px;
    /* Ajusta el tamaño del logo según sea necesario */

    @media screen and (max-width: 600px) {
        width: 80px;
    }
}

.container {
    max-width: 600px;
    margin: 20px auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);

    h2 {
        text-align: center;
        margin-bottom: 20px;
    }

    form {
        .form-group {
            margin-bottom: 20px;

            label {
                display: block;
                margin-bottom: 5px;
            }

            input {
                width: 100%;
                padding: 10px;
                border: 1px solid #ccc;
                border-radius: 5px;
            }
        }

        button {
            width: 100%;
            padding: 10px;
            background-color: #3498db;
            color: #fff;
            border: none;
            border-radius: 5px;
            cursor: pointer;
            transition: background-color 0.3s;

            &:hover {
                background-color: #2ecc71;
            }
        }
    }
}

@media (max-width: 768px) {
    .container {
        max-width: 100%;
    }
}